body
{
    margin-top: 10px;
}
.stickyBar
{
    position: sticky !important;
    top: 0 !important;
    z-index: 5;
}
nav
{
  width: 100%;
  height: 70px;

  
}
ul
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px 20px;
}

ul li a
{
    text-decoration: none;
    color: rgb(207, 205, 202);
    font-size: 22px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.activeA
{
    font-size: 22px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.5) !important;
    cursor: default !important;
}

ul li a:hover
{
    text-decoration: none;
    color: gray;

}

.headerName
{
    cursor: context-menu;
    font-size: 28px;
    margin-right: 20px;
}
.nav-item
{
    margin-right: 50px;
}
.iconHeader
{
    width: 150px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.signOut
{
 text-decoration: none;
font-size: 24px;
color: black;    
}
.desc
{
    text-align: center;
    margin-top: 20px;
}
.desc .bgImg
{
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: auto;
    background-image: url("../img/107697.jpg");
    border-radius: 10px;
}
.flexCenter
{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.desc .bgImg h1
{
    color: rgb(201, 196, 196);
    padding-right: 50px;
}

.desc p
{
    margin: auto;
    width: 50%;
}
.signIn
{
    background-color: darkgoldenrod;
    width: 100%;
    height: 53px;
    border-radius: 50%;
}
.signIn a
{
    color: burlywood;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.signIn a:hover
{
    text-decoration: none;
    color: gray;
}

.myDropdown a
{
    position: relative;
    top: -5px;
}
.dropdown-menu
{
    width: 176px;
}
.dropdown-menu,.dropdown-menu a
{
    background-color:rgb(76, 76, 87);
    color: rgb(202, 202, 202);
}

.dropdown-menu a:hover
{
    background-color: rgb(76, 76, 87);
    color: gray;
    
}
.dropdown-item
{
    padding-left: 10px;
}

.formAdd
{
    margin-left: 200px;
    margin-top: -50px;
    display: none;
   
}

.formAdd input, .formAdd label
{
    padding-right: 10px;
    vertical-align: top;
}
.showTable
{
    margin-top: 30px;
}
.message
{
    height: 100px;
}
.formEdit
{
    margin-left: 200px;
    margin-top: -50px;
    display: none;
}
.formEdit input, .formEdit label
{
    padding-right: 10px;
    vertical-align: top;
}
.toEdit
{
    background-color: white;
    border: none;
    cursor: pointer;
}
.shoowTable td, .shoowTable th 
{
    vertical-align: middle;
}
.holder
{
    width: 359px;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
.subHolder
{
    margin-top: -60px;
}
.holder img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}
.mixRight
{
float: right;
}
.ringI
{
    background-color: gray;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.rightSideForm 
{
    margin-top: 20px;
}
.rightSideForm .formAddC
{
    margin-top: 20px;
    margin-left: 200px;
    margin-top: -50px;
    display: none;
}

.rightSideForm form input, .rightSideForm form label
{
    padding-right: 10px;
    vertical-align: top;
}
.bottomForm
{
    margin-top: -60px;
}
.bottomForm .radioForm input
{
    position: relative;
    top: 5px;
}
.headerBrand
{
    font-weight: bold;
    font-size: 24px;
    margin-left: 300px;
    margin-right: 0px;
}
.buttonCart
{
    display: block;
    margin: auto;
    color: white;
}

.leftSide
{
    text-align: center;
    margin-top: 30px;
}
.leftSide img
{
    height: 359px;
    width: 400px;
    margin-bottom: 10px
}
.rightSide
{
    text-align: center;
    margin-top: 150px;
}
.fa-shopping-cart
{
    color: rgb(44, 44, 44);
    
}
.totalPrice
{
    margin: auto;
    display: block;
}
.totalPrice a
{
    color: white;
    text-decoration: none;
}
.starIcon
{
    margin-left: -50px;
    color: rgb(44, 44, 44);
}
.text-d:hover
{
text-decoration: none;
}